stream {
  map $ssl_preread_server_name $backend { {% for domain, upstream in https_forwarding %}
    {{ domain }} {{ upstream }};{% endfor %}
  }
  {% for upstream, servers in https_upstream %}
  upstream {{ upstream }} { {% for server in servers %}
    server {{ server }};{% endfor %}
  }
  {% endfor %}
  server {
    listen 443;
    proxy_connect_timeout 1s;
    proxy_timeout 3s;
    proxy_pass $backend;
    ssl_preread on;
  }
}
